* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  width: 960px;
  margin: 0 auto;
  border: 2px dotted blue;
}

img {
  display: inline-block;
  float: left;
  margin: 0 auto;
  width: 300px;
  height: auto;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
  margin-top: 6%;
}

.container {
  border: 2px dotted green;
}

#heading {
  height: 15%;
  border: 2px dotted red;
}

#results-container {
  clear: both;
  height: 50%;
}
