* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  width: 960px;
}

img {
  display: inline-block;
  float: left;
  margin: 0 auto;
  width: 300px;
  height: auto;
}

li {
  list-style-type: none;
}

#results-container {
  clear: both;
  height: 60%;
}
